# Ignore environment secrets
.env

# Ignore runtime logs
logs/

# Ignore node modules
node_modules/

# Ignore system files
.DS_Store

# Ignore conflict or dummy JSON files
Conflict.json
*.conflict.json
*.backup.json
